html {
  height: 100%;
  width: 100%;
}

body {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-wrapper {
  // border: 2px solid red;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .header {
    // border: 2px solid green;
    height: 10%;
  }
  .content {
    height: 75%;
    color: white;
    display: flex;
    justify-content: center;
    .display {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      font-size: 50px;
      padding-top: 75px;
      .time {
        font-size: 75px;
        margin-bottom: -250px;
        padding-bottom: 85px;
      }
      .greeting {
      }
      .input {
        margin-top: -50px;
        .input-field {
          background: transparent;
          border-bottom: 2px solid white;
          border-top: none;
          border-left: none;
          border-right: none;
          height: 40px;
          width: 400px;
          color: white;
          font-size: 36px;
          outline: none;
        }
      }
    }
  }
  .footer {
    color: white;
    text-align: center;
  }
}
